*:focus {
  outline: none;
}

button {
    background-color: #553529;
    border-radius: 35px;
    color: #d47500;
    font-size: 2em;
    height: 2em;
    width: auto;
}

#container {
  margin: auto;
  text-align: center;
}

#greeting {
  background-color: #d47500;
  border-radius: 5px;
  color: #553529;
  font-family: Helvetica, Verdana, sans-serif;
  /*margin: 10px auto 10px auto;*/
  /*text-align: center;*/
  /*width: 200px;*/
}
